:root {
    --dark-grey-txt: #4a4a4a;
    --light-grey-txt: #4a4a4a86;
    --transparent-bottom-border: var(--transparent-bottom-border); 
    --white-background: #ffffff;
    --dark-background: #323232;
    --font-georgia: Georgia, 'Times New Roman', Times, serif;
}

.body {
    width: 1279px;
    height: 6802px;
    margin: 0;
    background-color: white; 
}

.t-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
}

.t-section:nth-child(odd) {
    background-color: var(--white-background);
}

.t-section:nth-child(even) {
    background-color: var(--dark-background);
}

.t-header {
    height: 1015px;
}

.t-side-nav {
    margin: 0;
    width: 150px;
    height: 100%;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 10px;
    display: block;
}

.logo {
    width: 80px;
    height: 33px;
    display: inline-block;
}

.t-nav-list {
    margin-top: 50px;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.t-nav-list--item {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-top: 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

        .t-nav-text {
            width: auto;
            margin-right: 5%;
            text-decoration: none;
            font-family: var(--font-georgia);
            font-size: 16px;
            font-weight: 700;
        }

        .t-nav-list--item_link {
            color: var(--light-grey-txt);
        }

        .t-nav-list--item_link:hover {
            transition: 0.2s;
            color: var(--dark-grey-txt);
        }

        .t-nav-list--item_link--active {
            color: var(--dark-grey-txt);
        }

        .nav-item--yellow-line {
            width: 100%;
            border-bottom: 2px solid #f8b91c;
        }


.t-header-hero {
    background: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(50, 50, 50, 0.972)
        ),
        url('images/aerial_island.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.last_articles {
    height: 1008px;
}

.last_articles--featured {
    height: 384px;
}

.last_articles--featured:nth-child(odd) {
    background-color: var(--dark-background);
}

.last_articles--featured:nth-child(even) {
    background-color: var(--white-background);
}

.materials {
    height: 959px;
}

.authors {
    height: 1350px;
}

.instagram {
    height: 1000px;
}

.footer {
    height: 710px;
}