.body {
    width: 1279px;
    height: 6802px;
    margin: 0;
    background-color: white;
}

.t-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.t-section:nth-child(odd) {
    background-color: #ffffff;
}

.t-section:nth-child(even) {
    background-color: #323232;
}

.t-header {
    height: 1015px;
}

.t-side-nav {
    margin: 0;
    width: 254px;
    height: 100%;
}

.header-hero {
    background-image: url('images/aerial_island.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.last_articles {
    height: 609px;
}

.last_articles--featured {
      height: 384px;
}

.materials {
    height: 959px;
}

.authors {
    height: 1350px;
}

.instagram {
    height: 1000px;
}

.footer {
    height: 700px;
}